---
import Footer from '../components/layout/Footer.astro';
import Navbar from '../components/layout/Navbar.astro';
import About from '../components/sections/About.astro';
import Activities from '../components/sections/Activities.astro';
import Categories from '../components/sections/Categories.astro';
import Contact from '../components/sections/Contact.astro';
import Hero from '../components/sections/Hero.astro';
import Info from '../components/sections/Info.astro';
import Prizes from '../components/sections/Prizes.astro';
import Sponsors from '../components/sections/Sponsors.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="San Mateo Longboard Festival 2025 | III Edición - El Faro, Ecuador">
  <Navbar />
  <main id="main-content" class="w-full max-w-full overflow-x-hidden">
    <Hero />
    <About />
    <Categories />
    <Prizes />

    <Activities />
    <Sponsors />

    <!-- <Gallery />  -->
    <Info />
    <Contact />
  </main>
  <Footer />
</Layout>
