---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Categories from '../components/sections/Categories.astro';
import Prizes from '../components/sections/Prizes.astro';
import Activities from '../components/sections/Activities.astro';
import Gallery from '../components/sections/Gallery.astro';
import Info from '../components/sections/Info.astro';
import Sponsors from '../components/sections/Sponsors.astro';
import Contact from '../components/sections/Contact.astro';
---

<Layout title="San Mateo Longboard Festival 2025 | III Edición - El Faro, Ecuador">
  <Navbar />
  <main id="main-content">
    <Hero />
    <About />
    <Categories />
    <Prizes />
    <Activities />
    <Gallery />
    <Info />
    <Sponsors />
    <Contact />
  </main>
  <Footer />
</Layout>
